
.costumerCommentsContent {
    width: 100%;
    position: relative;
    top: -20px;
    background: var(--p-card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.costumerCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.custom-slide-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .carouselButtons {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: -35px;
    z-index: 100;
  }

  .carouselButtonItem {
    z-index: 100;
    cursor: pointer;
  }

  @media (max-width:768px){
    .carouselButtons{
      position: relative;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: -40px;
        margin: auto;
        position: relative;
        z-index: 100;
    }
  }