.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competitionCard {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    display: grid;
}

.title,
.text {
    padding: 10px;
}

.title {
    background-color: var(--blue2);
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.date {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0px;
    align-items: center;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 768px) {
    .competitionCard {
        width: 300px;
        margin: auto;
    }
}