<div class="competitionCard" [style.paddingBottom]="paddingBottom" [style.height]="height">
    <div class="content">
        <div class="title headerFont">{{title}}</div>
        <div class="text">{{text}}</div>
        <div class="buttons">
            <app-button borderRadius="10px" class="headerFont" [routerLink]="'/competitions/startList/' + Event._id"
                [text]="'startlist' | translate" width="100%"></app-button>
            <app-button borderRadius="10px" class="headerFont" [routerLink]="'/competitions/races/' + Event._id"
                [text]="'heats' | translate" width="100%"></app-button>
            <app-button borderRadius="10px" class="headerFont" [text]="'Results' | translate"
                (click)="navigateToCompResults()"></app-button>
            <!-- <app-button borderRadius="10px" class="headerFont" [text]="'PDF' | translate" (click)="getRankingsPdf()"></app-button> -->
            <div></div>
        </div>
        <div class="date">
            <div class="dates">{{date | date: 'dd-MM-yyyy'}}</div>
            <img style="cursor: pointer; width: fit-content;" src="assets/imgs/arrow.svg" alt="">
        </div>
    </div>
</div>