<div class="header_container">
  <div class="language-selector">
    <button class="dropdown-btn" (click)="toggleDropdown()">
      <span class="icon"><img src="assets/imgs/Globe.svg" alt="Globe icon"></span> {{language}}
      <span class="arrow">&#9660;</span>
    </button>

    <ul class="dropdown-content" *ngIf="dropdownOpen">
      <li (click)="switchLanguage('en')">English</li>
      <li (click)="switchLanguage('ka')">ქართული</li>
    </ul>
  </div>

  <div class="header">
    <div class="nav_left navTitles headerItems">
      <div class="headerTitles headerFont" *ngFor="let item of navLeftItems">
        <a [routerLink]="item.route"><div>{{item.title| translate}}</div></a>
      </div>
    </div>

    <div class="logo nav_left headerItems">
      <a routerLink="/dashboard"><img src="assets/imgs/lane4logo.png" class="logo-default" /></a>
      <a routerLink="/dashboard"><img src="assets/imgs/lane4logoRed.png" class="logo-hover" /></a>
    </div>

    <div class="nav_right navTitles headerItems">
      <div class="headerTitles headerFont" *ngFor="let item of navRightItems">
        <a [routerLink]="item.route">{{item.title| translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="headerMobile">
  <a routerLink="/dashboard"><img src="assets/imgs/lane4logo.png" class="logo-default-mobile" /></a>
  <img src="assets/imgs/menuIcon.svg" *ngIf="!menuDropdownOpen" (click)="menuDropdownOpen = !menuDropdownOpen" class="menuIcon" />
  <img src="assets/imgs/X.svg" *ngIf="menuDropdownOpen" (click)="menuDropdownOpen = !menuDropdownOpen" class="menuIcon" />
</div>

<div *ngIf="menuDropdownOpen" class="headerDropDownTitles headerFont">
  <div class="headerTitlesMobile">
    <div *ngFor="let header of footerHeaders">
      <a [routerLink]="header.route">{{header.title | translate}}</a>
    </div>
  </div>
  <div class="translate">
    <div class="language-selector">
      <button class="dropdown-btn" (click)="toggleDropdown()">
        <span class="icon"><img src="assets/imgs/Globe.svg" alt="Globe icon"></span> {{language}}
        <span class="arrow">&#9660;</span>
      </button>
  
      <ul class="dropdown-content" *ngIf="dropdownOpen">
        <li (click)="switchLanguage('en')">English</li>
        <li (click)="switchLanguage('ka')">ქართული</li>
      </ul>
    </div>
  </div>
</div>