<div class="header_container">
  <div class="language-selector gapLane">
    <button mat-button [matMenuTriggerFor]="menuLang" class="dropdown-btn">
      <span class="icon">
        <img src="assets/imgs/Globe.svg" alt="Globe icon">
      </span>
      <span class="hideOnMobile">{{language}}</span>
      <span class="arrow hideOnMobile">&#9660;</span>
    </button>
  
    <mat-menu #menuLang="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')">English</button>
      <button mat-menu-item (click)="switchLanguage('ka')">ქართული</button>
    </mat-menu>
  </div>

  <div class="header">
    <div class="nav_left navTitles headerItems">
      <div class="headerTitles headerFont" *ngFor="let item of navLeftItems">
        <a [routerLink]="item.route"><div>{{item.title| translate}}</div></a>
      </div>
    </div>

    <div class="logo nav_left headerItems">
      <a routerLink="/dashboard"><img src="assets/imgs/lane4logo.png" /></a>
    </div>

    <div class="nav_right navTitles headerItems">
      <div class="headerTitles headerFont" *ngFor="let item of navRightItems">
        <a [routerLink]="item.route">{{item.title| translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="headerMobile">
  <a routerLink="/dashboard"><img src="assets/imgs/lane4logo.png" class="logo-default-mobile" /></a>
  <div style="color: #fff; font-size: 18px;" class="headerFont">{{chosenItem | translate}}</div>
  <img src="assets/imgs/menuIcon.svg" *ngIf="!menuDropdownOpen" (click)="menuDropdownOpen = !menuDropdownOpen" class="menuIcon" />
  <img src="assets/imgs/X.svg" *ngIf="menuDropdownOpen" (click)="menuDropdownOpen = !menuDropdownOpen" class="menuIcon" />
</div>

<div *ngIf="menuDropdownOpen" class="headerDropDownTitles headerFont">
  <div class="headerTitlesMobile">
    <div *ngFor="let header of footerHeaders" (click)="menuDropdownOpen = false;">
      <a [routerLink]="header.route" (click)="chosenItem = header.title">{{header.title | translate}}</a>
    </div>
  </div>
  <div class="language-selector gapLane">
    <button mat-button [matMenuTriggerFor]="menuLangMobile" class="dropdown-btn">
      <span class="icon">
        <img src="assets/imgs/Globe.svg" alt="Globe icon">
      </span>
      <span class="hideOnMobile">{{language}}</span>
      <span class="arrow hideOnMobile">&#9660;</span>
    </button>
  
    <mat-menu #menuLangMobile="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')">English</button>
      <button mat-menu-item (click)="switchLanguage('ka')">ქართული</button>
    </mat-menu>
  </div>
</div>