.banner_card_cont {
    padding: 200px;
    background: var(--p-card-color);
    box-shadow: var(--p-color-card) 0px 15px 25px, var(--p-color-card) 0px 5px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2;
}
