<div class="banner_card_cont">
   <div class="leftBanner">
    <div class="bannerTitle">
        <p id="title">{{'dedicatedTeam' | translate}}</p>
    </div>
    <div class="bannerText">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum voluptate consequuntur sed aspernatur, vel voluptates!
    </div>
    <div class="bannerButton">
        <app-button height="50px" width="150px" [text]="'getInTouch' | translate" fontSize="11px"></app-button>
    </div>
   </div>
   <div class="bannerImg">
        <img src="assets/imgs/Rectangle.svg"/>
   </div>
</div>