<div class="MaskBlureImgCont" *ngIf="chosenPartition()">
    <img class="musk_blure_img" src="/assets/imgs/MaskBlure2.svg"/>
</div>

<div *ngIf="event" class="compContainer">
    <div class="resultsContainer">
        <app-custom-tabs [loaderOn]="printLoader()" [print]="true" (tabChanged)="onTabChange($event)" (onPrint)="onPrint($event)" [subHeader2]="(event.startDate | date: 'dd') + ' - ' + (event.endDate | date: 'dd/MM/yyyy')" [subHeader]="lang() === 'ka' ? event?.title : event?.translations?.en?.title ?? event?.title" [header]="'heats' | translate" [tabs]="partitionTitles">
            <div class="resBody shadow1 body">
                <div *ngIf="!chosenPartition()" style="padding: 15px; text-align: center;">{{'heats_available_when_registration_finish' | translate}}</div>
                <div *ngIf="!chosenPartition()" style="padding: 15px; text-align: center;">{{'registration_finish' | translate}}{{': '}}{{event.registrationEndDate | date: 'dd-MM-yyyy'}}</div>
                
                @for (race of chosenPartition().races; track race._id) {
                <div class="resLineCont">
                    <!-- გადავცემთ მთლიან race ობიექტს ID-ს მისაღებად -->
                    <div (click)="openResults($index, race)" [ngClass]="resultsOpen == $index ? 'resultsOpen' : ''" class="resLine">
                        <div class="logoAthlete">
                            <div class="logo"><img src="/assets/imgs/swimmerLogo.png" /></div>
                            <div class="resHeader">
                                {{race.gender | translate }} 
                                {{(race.type == 'INDIVIDUAL' ? race.distance : ('4 x ' + (race.distance / 4)) | translate)}}მ 
                                {{(race.type == 'INDIVIDUAL' ? '' : race.style + '_MEDLEY'| translate)}} 
                                {{(race.type != 'INDIVIDUAL' ? '' : race.style | translate)}}
                                {{' '}}{{!race.hasFinals ? '' : '(qualification)' | translate}}{{!race.parentRace ? '' : '(final)' | translate}}
                            </div>
                        </div>
                        <div></div>
                        <div class="icon"><img src="/assets/imgs/slideDownIcon.png" /></div>
                    </div>

                    <div class="RaceResultsCont" [ngClass]="resultsOpen == $index ? 'show' : 'hide'">
                        <!-- ჰიტების ლოუდერი შიგნით -->
                        <div *ngIf="loadingHeats()" style="padding: 20px; text-align: center;">
                            <app-loader-spinner height="60px" color="black"></app-loader-spinner>
                        </div>

                        <ng-container *ngIf="!loadingHeats()">
                            @if (chosenHeats && chosenHeats.length > 0) {
                            <div class="RaceResultsContHeader">
                                <div class="title">{{'name' | translate}}</div>
                                <div class="team">{{'team' | translate}}</div>
                                <div class="bithDate"><span *ngIf="race.type == 'INDIVIDUAL'">{{'Birth_date' | translate}}</span></div>
                                <div class="result">{{'entry_time' | translate}}</div>
                                <div class="points"><span *ngIf="race.type == 'INDIVIDUAL'">{{'points' | translate}}</span></div>
                            </div>
                            
                            <div class="RaceResultsContBody">
                                @for (heat of chosenHeats; track heat._id) {
                                <div class="heatInfo">
                                    {{heat.name | translate}}{{' / ' + chosenHeats.length}}
                                </div>
                                <div *ngFor="let lane of heat.lanes" class="athleteResult">
                                    <div class="athlete">
                                        {{lane.lane}}. {{lang() === 'ka' ? lane?.participant?.lastName : lane?.participant?.lastNameEn}}
                                        {{ lang() === 'ka' ? lane?.participant?.firstName : lane?.participant?.firstNameEn || lane?.participant?.title}}
                                    </div>
                                    <div class="team">
                                        {{lang() == 'ka' ? lane?.team?.title : lane?.team?.translations?.en?.title ?? lane?.team?.title}}
                                    </div>
                                    <div class="birthDate">{{lane?.participant?.birthDate | date:'yyyy'}}</div>
                                    
                                    <app-time class="result" *ngIf="lane?.qualificationTime?.seconds !== null && lane?.qualificationTime?.seconds !== undefined" [timeObj]="lane?.qualificationTime"></app-time>
                                    
                                    <div *ngIf="lane?.qualificationTime?.seconds !== null && lane?.qualificationTime?.seconds !== undefined" class="points">{{lane?.qualificationTimePoint}}</div>

                                    <div *ngIf="lane?.qualificationTime?.seconds == null && lane?.participant?.firstName">-</div>
                                    <div *ngIf="lane?.qualificationTime?.seconds == null && lane?.participant?.firstName">-</div>
                                </div>
                                }
                            </div>
                            } @else {
                            <div style="padding: 15px; text-align: center;">{{'no_heats_yet' | translate}}</div>
                            }
                        </ng-container>
                    </div>
                </div>
                }
            </div>
        </app-custom-tabs>
    </div>
</div>

<app-loader-spinner *ngIf="!event" color="black" height="500px"></app-loader-spinner>