.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.title {
    font-size: 28px;
}