<div class="competitionsList">
    <div class="header">
        <div class="title">Competitions</div>
        <app-button width="100px" height="40px" text="Load More" fontSize="12px"></app-button>
    </div>
    <div class="body">
        <app-competition-card></app-competition-card>
        <app-competition-card></app-competition-card>
        <app-competition-card></app-competition-card>
        <app-competition-card></app-competition-card>
        <app-competition-card></app-competition-card>
    </div>
</div>