<div class="MaskBlureImgCont" *ngIf="chosenRanksData" >
    <img class="musk_blure_img" src="/assets/imgs/MaskBlure2.svg"/>
</div>

<div class="classificationContainer shadow1">
    <app-custom-tabs [infoTitle]="'swim_classification' | translate" [infoText]="'classification_info' | translate" [tabs]="tabs" (tabChanged)="onTabChange($event)">
        <div class="body">
            <div class="tableHeader">
                <div>{{'Event' | translate}}</div>
                <div>{{'MasterOfSports1' | translate}}</div>
                <div>{{'MasterOfSports2' | translate}}</div>
                <div>{{'Candidate' | translate}}</div>
                <div>{{'First Level' | translate}}</div>
                <div>{{'Second Level' | translate}}</div>
                <div>{{'Third Level' | translate}}</div>
            </div>
            <app-loader-spinner *ngIf="!chosenRanksData" color="black" height="500px"></app-loader-spinner>
            <div *ngIf="chosenRanksData" >
                <div *ngFor="let item of chosenRanksData" class="bodyRow">
                    <div class="" *ngIf="item.style && !item.distance">{{item.style | translate}}</div>
                    <div class="row" *ngIf="item.distance">{{item.distance}}</div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['INTERNATIONAL_MASTER'].time"></app-time></div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['MASTER'].time"></app-time></div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['CANDIDATE'].time"></app-time></div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['FIRST'].time"></app-time></div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['SECOND'].time"></app-time></div>
                    <div class="row" *ngIf="item.ranks"><app-time [timeObj]="item.ranks['THIRD'].time"></app-time></div>
                </div>
            </div>
        </div>
    </app-custom-tabs>
</div>