.inputButton {
    border-radius: 20px;
    height: calc(100% - 10px);
    background: var(--blue2);
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.actionInput {
    background: #fff;
    border-radius: 25px;
    width: 100%;
    border: none;
    padding: 5px 20px; 
}

.customInput {
    position: relative;
}

.actionInput::placeholder {
    color: #aaa; 
    font-size: 14px; 
}

.invalid {
    padding-top: 10px;
    color: red;
    font-size: 13px;
    text-align: center;
}