.costumerComponentHeaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.costumerCommentsContainer {
    width: 100%;
    background-color: var(--p-color-card);
    position: relative;
    top: -15px;
}
