.costumerCommentsContainer {
    width: 100%;
    background-color: var(--p-color-card);
    position: relative;
    top: -15px;
}

.costumerCommentsContent {
    width: 100%;
    position: relative;
    top: -20px;
    background: var(--p-card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.costumerCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.custom-slide-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .costumerComponentHeaders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }