
<div class="dashboard_content">
    <div class="flexD homePageCont">
        <app-banner-card style="width: 100%;"></app-banner-card>
    </div>
    <!-- <app-our-services style="width: 100%;"></app-our-services> -->
</div>
<app-competitions-list [backgroundColor]="false" [BackgroundImg]="false"></app-competitions-list>
<div class="AboutUsSection">
    <app-about-us-section></app-about-us-section>
    <app-save-email></app-save-email>
</div>
<!-- <div class="costumerComments">
    <app-costumer-comments></app-costumer-comments>
</div> -->