.test {
    // background-color: $background-color;
    background-color: var(--primary-color);
}

.website_content {
    width: 85%;
    max-width: 1250px;
    margin: auto;
    padding-bottom: 100px;
}