
<app-loader-spinner *ngIf="competitions().length == 0" color="black" height="500px"></app-loader-spinner>

<div class="MaskBlureImgCont">
    <img class="musk_blure_img" src="/assets/imgs/MaskBlure2.svg" />
</div>
  
  <div class="CompetitionsListSection shadow1" ngClass="stylesForCompetitionsPage backgroundColorTrue shadow1"
    *ngIf="competitions().length > 0">

    <div class="compsContainer">
        <mat-accordion>
            <mat-expansion-panel class="expansionCompetitions" *ngFor="let competition of competitions()">
              <mat-expansion-panel-header>
                <div class="header-content">
                  <div class="compTitle1">
                    <span class="header-title">{{competition.title}}</span>
                    <span class="date">{{competition.startDate | date: 'dd-MM-yyyy' }}</span>
                  </div>
                </div>
              </mat-expansion-panel-header>
              <div class="panel-content">
                <span class="header-subtitle">{{competition.address}}</span>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
  