.classificationContainer {
    width: 100%;
    max-width: 1226px;
    margin: auto;
    border:1.5px solid var(--dark-blue4);
    background-color: #fff;
}

.bodyRow , .tableHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid gray;
    padding: 3px 10px;
}

.tableHeader {
    padding: 13px 10px;
    background-color: var(--blue4);
 }

.mobTableRows {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 900px;
}

.MbRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.rowPart {
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;
    height: 44px;
    padding: 0px 10px;
}

.firstPartRow {
    display: flex;
    justify-content: left;
}

.headerMob {
    background-color: var(--light-blue1);
}

.mobTableRows {
    padding: 0;
}

.row3:nth-child(even) {
    background-color: #fff;
    color: var(--font-Blue);
}

.row3:nth-child(odd) {
    background-color: var(--light-blue2);
    color: var(--font-Blue);
}

.mobTableRows:last-child .row3:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mobileBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll; 
}

.mobileBody::-webkit-scrollbar {
    width: 12px; 
    background-color: var(--dark-blue4);
}

.mobileBody::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue4);
    border-radius: 6px;
}

.mobileBody::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue4);
}

.mobileBody {
    scrollbar-width: thin; 
    scrollbar-color: var(--dark-blue4) #f0f0f0;
}
