<div class="footerContainer">
    <!-- <div class="emailInput">
        <h1 class="headerFont" style="color:#fff; font-size: 21px; line-height: 1.6; text-align: center;padding: 0px 20px; padding-bottom: 20px; ">ჩვენ შეგატყობინებთ ბოლო განახლების შესახებ</h1>
        <app-input height="50px" width="335px" buttonText="subscribe" (onSubmit)="onSubmit($event)"  inputText="Enter_your_email"></app-input>
     </div> -->
    <div class="headers">
        <div class="lane4LogoFooter">
            <img src="assets/imgs/lane4logo.png" />
        </div>
        <div class="footerHeaders headerFont">
            <a *ngFor="let item of headers" [routerLink]="item.route">{{item.title | translate}}</a>
        </div>
    </div>
    <div class="socailNetsContainer">
        <div class="lane4Info" style="font-size: 12px;">2024 lane4. all rights reserved</div>
        <div class="socialNets">
            <div class="fb"><img width="30px" src="assets/imgs/Vector.svg"/></div>
            <div class="insta"><img width="30px" src="assets/imgs/Group (1).svg"/></div>
            <div class="youtube"><img width="30px" src="assets/imgs/Group.svg"/></div>
        </div>
        <div class="term" style="font-size: 12px;">
            <a>Privacy policy</a>
            <a>Terms of Service</a>
        </div>
    </div>
</div>