<div class="footerContainer">
    <div class="headers">
        <div class="lane4LogoFooter">
            <img height="50px" src="assets/imgs/lane4logo.png" class="logo-default" />
            <img height="50px"  src="assets/imgs/lane4logoRed.png" class="logo-hover"/>
        </div>
        <div class="footerHeaders headerFont">
            <a *ngFor="let item of headers" (click)="navigate(item.route)">{{item.title | translate}}</a>
        </div>
    </div>
    <div class="socailNetsContainer">
        <div class="lane4Info" style="font-size: 12px;">2024 lane4. all rights reserved</div>
        <div class="socialNets">
            <div class="fb"><img width="30px" src="assets/imgs/Vector.svg"/></div>
            <div class="insta"><img width="30px" src="assets/imgs/Group (1).svg"/></div>
            <div class="youtube"><img width="30px" src="assets/imgs/Group.svg"/></div>
        </div>
        <div class="term" style="font-size: 12px;">
            <a>Privacy policy</a>
            <a>Terms of Service</a>
        </div>
    </div>
</div>