.recordsContainer {
    position: relative;
    width: 85%;
    max-width: 1226px;
    margin: auto;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/imgs/poolBanner.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 450px; 
    text-align: center;
    position: relative;
    top: -50px;
}

.bannerHeader {
    font-size: 2rem; 
    color: white; 
}

.recordsInfo {
    width: 100%;
    border: 1.5px solid var(--dark-blue4);
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.bodyRow , .tableHeader{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid gray;
    padding: 3px 10px;
}

.tableHeader {
    padding: 13px 10px;
    background-color: var(--blue4);
 }
