.recordsContainer {
    position: relative;
    width: 85%;
    max-width: 1226px;
    margin: auto;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/imgs/poolBanner.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 450px; 
    text-align: center;
    position: relative;
    top: -50px;
}

.bannerHeader {
    font-size: 2rem; 
    color: white; 
}

.recordsInfo {
    width: 100%;
    border: 1.5px solid var(--dark-blue4);
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.bodyRow , .tableHeader{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 3px 10px;
}

.tableHeader {
    padding: 13px 10px;
    background-color: var(--blue4);
 }

 .bodyRow {
    padding: 12px 8px;
 }

 .bodyRow:nth-child(even) {
    background-color: #fff;
    color: var(--font-Blue); 
  }
  
  .bodyRow:nth-child(odd) {
    background-color: var(--light-blue2);
    color: var(--font-Blue); 
  }

  .bodyRow:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }