.athleteCont {
    width: 1160px;
    margin: auto;
    max-width: 80%;
}

.search-container {
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  .search-container label {
    font-size: 0.9rem; 
    color: #1a3ba6; 
    margin-bottom: 0.2rem;
    display: block;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background-color: var(--dark-blue4);
    gap: 15px;
    color: #fff;
  }

  .athleteCont {
    border-radius: 15px;
    overflow: hidden; 
  }

  .athleteBio {
    padding: 10px;
    background-color: var(--light-blue3);
  }

  .athleteBio {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--dark-blue4);
    color: #fff;
    gap: 20px;
  }

  .results {
    width: 100%;
    height: 600px;
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .resHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 10px;
    background-color: var(--light-blue1);
  }

  .longShortRows {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  }

  .resRowsStyles:nth-child(even){
    background-color: #fff;
  }

  .resRowsStyles:nth-child(odd){
    background-color: var(--light-blue2);
  }

  // .resRow {
  //   display: flex;
  //   align-items: center;
  // }

  .rows {
    display: flex;
    align-items: center;
  }

  .newRows {
    border-bottom: 1px solid rgb(176, 175, 175);
  }

  .showMoreResults {
    cursor: pointer;
    text-decoration: underline;
  }

  .resultsForTableR {
    min-height: 20px;
  }

  .resRows {
    min-height: 50px;
    background-color: var(--light-blue2);
  }

  .noData {
    width: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  @media (max-width:768px){
    .header {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }