@import "./fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  // font-family: "Georgian Lowercase Normal" !important;
}

.GeoUppB {
  font-family: "Georgian Uppercase Bold" !important;
}

.GeoLowB {
  font-family: "Georgian Lowercase Normal" !important;
}

.EngUppB {
  font-family: "Arial" !important;
}

.EngLowB {
  font-family: "Arial" !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexD {
  display: flex;
  justify-content: center;
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --p-color-blue: #218bff;
    --p-color-card: #ddf4ff;
    --p-color-d-blue: #033d8b;
    --title-color-blue: #0A3069;
    --banner-text-color-lightBlue: #002155;
    --banner-text-color-dark: #37557f;
    --p-card-color: linear-gradient(#ddf4ff, #DCF5FF, #ddf5ff);
    --accent-color: #e74c3c;
    --background-color: #f5f5f5;
    --text-color: #333;
    --dark-blue: #0550ae
  }

  .hide {
    display: none;
  }

  .displayFlex {
    display: flex;
  }

  .displayBlock{
    display: block;
  }

  .owl-dot span {
    background: #007bff !important; 
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.5; 
  }

  .owl-dot.active span {
    background: #ff5733; 
    opacity: 1; 
    transform: scale(1.2); 
  }

  .MaskBlureImgCont {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    z-index: -1;
}
.musk_blure_img {
  width: 100%;
}
.shadow1 {
  box-shadow: #218bff 0px 0px 40px -12px, #218bff 0px 0px 40px -12px;
}