

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexD {
  display: flex;
  justify-content: center;
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --p-color-blue: #218bff;
    --p-color-card: #ddf4ff;
    --p-color-d-blue: #033d8b;
    --p-card-color: linear-gradient(#ddf4ff, #DCF5FF, #ddf5ff);
    --accent-color: #e74c3c;
    --background-color: #f5f5f5;
    --text-color: #333;
  }